@font-face{
    font-family: "Inter";
    src: url('./fonts/Inter_18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Inter";
    src: url('./fonts/Inter_24pt-Bold.woff') format('woff');
    font-weight: 900;
    font-style: bold;
    font-display: swap;
}



:root{
    --color-grey: #D9D9D9;
    --color-light-grey: #F7F6F6;
    --color-white: #F7F6F6;

    --border-radius: 20px

}

a, span, p, li{
    font-family: "Inter";
}



*{
  margin: 0;
  padding: 0;
}



/* header */

.head{
    width: 100%;
    display: flex;
    background-color: #ebebebd7;
    border-radius: 30px;
    justify-content: space-between;
    position:fixed;
    top: 0;
    height: 50px;
    z-index: 5000;
}

.logo{
    display: flex;
    align-items: center;
}
.logo span {
  font-size: 1.2rem;
  font-weight: 900;
}

.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.menu li{
  display: flex;
  align-items: center;
}

/* slider */

.container{
  display: flex;
  justify-content: center;
}
.slider-wrapper{
  position: relative;
  margin: 0 auto;
}

.sliders{
  width: 100%;
  height: 700px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 20px;
  
}

.sliders::-webkit-scrollbar{
  display: none;
}

.slide {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Контент поверх изображения */
.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    padding-top: 60px;
    z-index: 2;
    margin-bottom: 10px;
}

.game-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.game-price {
    display: inline-block;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;

}

/* Стили для кнопки "Подробнее" */
.info-btn {
    background: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-color: var(--color-grey);
}

.info-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}


.controls{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  gap: 20px;
}

.controls a{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(208, 255, 244, 0.619);
}


/* menu search */

.containers{
  margin-left: 50px;
}

.fast-search{
  font-family: 'Inter';
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.filters{
  list-style: none;
  display: flex;
  gap: 30px;
  padding-inline-start: 0;
}
.filters li{
  font-size: 2rem;
  font-weight: 500;
  background: rgba(233, 233, 233, 0.571);
  padding: 5px 20px;
  border-radius: 30px;
  border: 3px solid rgba(204, 204, 204, 0.641);
}

#active{
  background: rgba(0, 247, 255, 0.504);
  border: 3px solid rgb(59, 237, 244);
}

.search-input{
  width: 95%;
  height: 50px;
  margin-top: 20px;
  border-radius: 30px;
  padding: 20px;
  font-size: 1.5rem;
  border: 3px solid rgba(204, 204, 204, 0.641);
}



/* preference */

.why{
  font-size: 3rem;
  text-align: center;
  margin-top: 70px;
}

.preference{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}

.point{
  border: 3px solid #00f7ffcd;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;

  width: 500px;
}
.point img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.point strong, p{
  font-size: 1.5rem;
  margin-top: 5px;
}



/* popular */
.container-games{
  margin-top: 100px;
  margin-inline: 3%;
}

.popular{
  padding: 5px;
  font-size: 4rem;
}

.games{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #D9D9D9;
  width: 200px;
  border-radius: 25px;
  margin: 30px;
}

.a-card{
  text-decoration: none;
}

.img-card {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.text{
  padding: 10px;
}

h5{
  font-size: 2rem;
  color: white;
}

.company{
  color: white;
  margin-top: 10px;
  font-size: 1rem;
}

.reiting{
  margin-top: 10px;
  width: 60%;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.price{
  color: white;
  font-style: 1.3rem;
}

.btn-buy{
  width: 50%;
  background-color: rgba(173, 173, 173, 0.8);
  border-color: rgba(138, 138, 138, 0.8);
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600px;
}

/* partner */

.container-part{
  margin-inline: 3%;
}

.part{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.h2-part{ 
  font-size: 4rem;
}

.partner{
  margin: 30px;

}

.img-part {
  width: 300px;
}

/* feadback */

.feadback {
  display: flex;
  padding-block: 50px;
  background-color: #ebebebd7;
  justify-content: space-around;
}

.feadback strong{
  font-size: 2rem;
}

.feadback p{
  padding-left: 10px;
  margin-block: 20px;
}

a{
  text-decoration: none;
  color: rgb(41, 41, 41);
}